<div class="panel panel-default" ng-show="selectedNodeObjects.length  > 0">
  <div class="panel-heading">
    <h2 class="panel-title">Selected Claim</h2>
  </div>
  <div class="panel-body">
    <div class="row" ng-repeat="node in selectedNodeObjects">
      <div class="col-sm-12">
        <button class="btn btn-default btn-xs pull-right" ng-show="graphEditable()"
                ng-click="removeNode(node)"><span class="glyphicon glyphicon-remove"></span></button>
        <h3>Claim Label: <a editable-text="node.label" e-ng-disabled="!graphEditable()" onbeforesave="graphData.nodes.update({'id': node.id, 'label':$data})">{{node.label || "empty"}}</a></h3>
        <a class="pull-right" ng-show="graphEditable()" ng-click="nodeDescForm.$show()" ng-hide="nodeDescForm.$visible"><span ng-show="graphEditable()" class="glyphicon glyphicon-pencil"></span></a>
        <p editable-textarea="node.desc" e-form="nodeDescForm" e-rows="7" e-cols="60"
           e-ng-disabled="!graphEditable()"
           onbeforesave="graphData.nodes.update({'id': node.id, 'desc':$data})">
          {{ node.desc || 'no description' }}
        </p>

        <label for="nodeProbability">Probability:</label>
        <a e-ng-disabled="!graphEditable()" id="nodeProbability" href="#" editable-range="node.probability" e-min="0" e-max="100" e-step="5"
            onbeforesave="graphData.nodes.update({'id': node.id, 'probability':$data})">{{node.probability}} %</a>
        </p>
      </div>
    </div>

    <div class="panel panel-default" >
      <div class="panel-heading">
        <h2 class="panel-title">Related Claims</h2>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-lg-12">
            Claims are supported or refuted by other claims.  <em>Because</em> lists the claims which support the
            selected claim. <em>Therefore</em> lists the claims which this claim supports.
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <button class="btn btn-default btn-xs pull-right" ng-show="graphEditable()"
                    ng-click="toggleEdgeFrom()"><span class="glyphicon glyphicon-plus"></span></button>
            <h4>{{node.label}} Because ...</h4>
            <form class="form-inline" ng-show="showEdgeFrom">
              <select class="form-control" ng-options="n as n.label for n in graph.nodes" ng-model="edgeFrom"></select>
              <button class="form-control" ng-show="graphEditable()"
                      ng-click="createEdge(edgeFrom, selectedNodeObjects[0]); ">Add
              </button>
            </form>
            <ul ng-repeat="sup in supportingNodes">
              <li><a ng-click="select({node:sup.id})">{{sup.label}}</a></li>
            </ul>

          </div>
          <div class="col-sm-6">
            <button class="btn btn-default btn-xs pull-right" ng-show="graphEditable()"
                    ng-click="toggleEdgeTarget()"><span class="glyphicon glyphicon-plus"></span></button>
            <h4>{{node.label}} Therefore ...</h4>
            <form class="form-inline" ng-show="showEdgeTarget">
              <select class="form-control" ng-options="n as n.label for n in graph.nodes" ng-model="edgeTarget"></select>
              <button class="form-control"
                      ng-click="createEdge(selectedNodeObjects[0], edgeTarget); ">Add
              </button>
            </form>
            <ul ng-repeat="sup in supportedNodes">
              <li><a ng-click="select({node:sup.id})">{{sup.label}}</a></li>
            </ul>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
