<div class="panel panel-default" ng-show="selectedEdgeObjects.length  > 0">

  <div class="panel-heading">
    <h2 class="panel-title">Selected Relationships</h2>
  </div>

  <div class="panel-body">
  <div class="row" ng-repeat="edge in selectedEdgeObjects">
    <div class="col-sm-12">
      <button class="btn btn-default btn-xs pull-right" ng-click="removeEdge(edge)"><span class="glyphicon glyphicon-remove"></span></button>
      <h3>Relationship Label: <a editable-text="edge.label" onbeforesave="graphData.edges.update({'id': edge.id, 'label':$data})">{{edge.label || "empty"}}</a></h3>
      <a class="pull-right" ng-click="edgeDescForm.$show()" ng-hide="edgeDescForm.$visible"><span  class="glyphicon glyphicon-pencil"></span></a>
      <p editable-textarea="edge.desc" e-form="edgeDescForm" e-rows="7" e-cols="60"
          onbeforesave="graphData.edges.update({'id': node.id, 'desc':$data})">
        {{ edge.desc || 'empty' }}
      </p>
    </div>
  </div>
    <div class="panel panel-default" >
    <div class="panel-heading">
      <h2 class="panel-title">Related Claims</h2>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-lg-12">
          Claims are supported or refuted by other claims.  <em>Because</em> lists the claims which support the
          selected claim. <em>Therefore</em> lists the claims which this claim supports.
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <h4>Because ...</h4>
          <ul ng-repeat="sup in supportingNode">
            <li><a ng-click="search({node:sup.id})">{{sup.label}}</a></li>
          </ul>

        </div>
        <div class="col-sm-6">
          <h4>Therefore ...</h4>
          <ul ng-repeat="sup in supportedNodes">
            <li>{{sup.label}}</li>
          </ul>

        </div>
      </div>
    </div>
  </div>

</div>
</div>
