<div class="row">
<div class="col-sm-4">
    <ul class="nav nav-pills nav-stacked">
        <li role="presentation"><a href="#twitter?ref=me">My Tweets</a></li>
        <li role="presentation"><a href="#twitter?ref=science-deniers">Science Deniers</a></li>
    </ul>
</div>
<div class="col-sm-8">
    Ref: {{ref}}
    <twitter-widget>
        <a class="twitter-timeline" 
        href="https://twitter.com/AtheistEngineer" 
        data-widget-id="737369040692367360">Tweets by @AtheistEngineer</a>
    </twitter-widget>
</div>
</div>
