<p>I am Atheist Engineer. I enjoy discussing epistemology.  It's my intention to 
engage in a positive way with believers of unsubstantiated superstition.  In recent 
years, I've engaged with Christians, Muslims, Flat Earthers, Creationists, anti-vaxers, 
anti-GMO / organic believers, etc.  I try to remain respectful and ask honest questions
to help clarify the belief. I'm generally not in the discussion to "win", but rather to 
help explain the value of evidence.
 
You can contact me at blog@atheistengineer.com or interact with me via 
<a href="https://medium.atheistengineer.com"> medium.com</a>,  
<a href="https://twitter.com/AtheistEngineer/">Twitter</a>, or
<a href="https://plus.google.com/+AtheistEngineer/posts">Google Plus</a>.
</p>
<p>I created this pseudonym to help keep religion and politics off my main social 
media pages. My identity is quasi-secret: Just enough to keep this from showing up 
if a potential Christian or Republican employer searches the internet for my name.
</p>
<p>This site is hosted at github. want to make a suggestion? Go fork it yourself!</p>