<div class="row">
<h1> Graphical Analysis of Philosophy </h1>
  <p>Though currently just static contant, it's my intention to develop a place where we can develop
    and share dynamic graph representaitons or arguments and logical flows.  It's my hope that this
    can help clearly identify points of philosophical disagreement without losing the contextual focus of
    the discussion.
  </p>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h2 class="panel-title">Graph Analysis of xyz</h2>
  </div>


  <div class="panel-body">
    <div class="row">
     <div class="col-sm-6">
          <vis-network data="graphData" options="graphOptions" on-click="events" events="events"></vis-network>
      </div>
      <div class="col-sm-6" id='Heirarchy Browse'>
          <ul class="nav nav-pills nav-stacked" ng-repeat="val in graph.nodes">
            <li role="presentation" ng-class="{active: nodeIsSelected(val) }"><a>{{val.label}} ({{val.probability}}%) {{val.selected}} </a></li>
          </ul>
      </div>
      </div>

    <div class="panel panel-default">
    <div class="panel-heading">
      <h2 class="panel-title">Selected Nodes</h2>
    </div>
    <div class="panel-body">
      <div class="row" ng-repeat="node in selectedNodeObjects">
        <div class="col-sm-12">
          <h3>Node: {{node.label}} </h3>
          <p>{{node.description}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <h3>Because ...</h3>
          <ul ng-repeat="sup in supportingNodes">
            <li>{{sup.label}} ({{ sup.probability }}%)</li>
          </ul>

        </div>
        <div class="col-sm-6">
          <h3>Therefore ...</h3>
          <ul ng-repeat="sup in supportedNodes">
            <li>{{sup.label}} ({{ sup.probability }}%)</li>
          </ul>

        </div>
      </div>
      </div>
    </div>
    <div class="panel panel-default">
    <div class="panel-heading">
      <h2 class="panel-title">Selected Edges</h2>
    </div>
    <div class="panel-body">
      <div class="row" ng-repeat="edge in selectedEdgeObjects">
        <div class="col-sm-12">
          <h3>Edge: {{edge.label}} </h3>
          <p>{{edge.description}}</p>
        </div>
      </div>
    </div>
  </div>

<div class="row" ng-show="false">
  <pre>
    {{graph.nodes | json}}
    {{selectedNodeObjects}}
  </pre>
</div>
