<div class="jumbotron" id="main-header">
  <h1>AtheistEngineer.com</h1>
  <p class="lead">
    <img src="images/Atheist Engineer Logo.png" alt="Atheist Engineer Logo"><br>
    Welcome to AtheistEngineer.com
  </p>
  <p>
  You can contact me at blog@atheistengineer.com or interact with me via 
  <a href="https://medium.atheistengineer.com"> medium.com</a>,  
  <a href="https://twitter.com/AtheistEngineer/">Twitter</a>, or
  <a href="https://plus.google.com/+AtheistEngineer/posts">Google Plus</a>.
  </p>
</div>

<div class="row marketing">
    <h1>My Twitter Feed</h1>
    
</div>
