<div class="row">
  <div class="panel panel-default">
    <div class="panel-heading">
      <div class="pull-right">
        <div ng-show="firebaseUser">
          Hey, {{ firebaseUser.displayName }}.
          <button class="btn btn-default btn-xs pull-right" ng-click="firebaseUser.$signOut()" title=""Sign Out"><span class="glyphicon glyphicon-log-out"></span></button>
        </div>
        <div ng-hide="firebaseUser">
          Do I know you?
          <button class="btn btn-default btn-xs pull-right" ng-click="auth.$signInWithPopup('twitter')"  title=""Sign In"><span class="glyphicon glyphicon-log-in"></span></button>
        </div>
      </div>
      <h2 class="panel-title"> Graphical Claims </h2>
    </div>
    <div class="panel-body">
      <p>Though currently just static content, it's my intention to develop a place where we can build
        and share dynamic graph representations or arguments and logical flows.  It's my hope that this
        can help clearly identify points of philosophical disagreement without losing the contextual focus of
        the discussion.
      </p>
    </div>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading">
    <button class="btn btn-default btn-xs pull-right"
            title="Add node" ng-click="createNode()" ng-disabled="!graphEditable()"><span class="glyphicon glyphicon-plus"></span></button>
    <span class="pull-right">By {{graph.owner || "No Owner"}}</span>
    <h2 class="panel-title">Reasoning for <span editable-text="graph.name"
        e-ng-disabled="!(graph.name=='' | graphEditable())" onbeforesave="setSlug($data);">{{graph.name || "empty" }}</span>{{graph.key}}</h2>
  </div>

  <div class="panel-body" ng-show="graph !== undefined">
    <div class="row">
        <vis-network data="graphData" options="graphOptions" on-click="events" events="events"></vis-network>
    </div>

    <ng-include src="'views/partials/bayesian-node.html'"></ng-include>
    <ng-include src="'views/partials/bayesian-edge.html'"></ng-include>

  </div>
</div>

<div class="row" ng-show="false">
  <pre>
    {{graph | json}}
    {{selectedNodeObjects}}
  </pre>
  ownerProfile = {{ graph.owner }}, {{ graph.getOwnerProfile() }}
  <br>
  Graph Editable: {{ graphEditable() }} / {{ graph.isEditable() }}

</div>
